// Import SCSS reset------
@import "utils/reset";

// Font ------
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url('home-bg.png');
    background-position:top;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container{
    padding: 0 15px;
    max-width: 1320px;
    margin: 0 auto;
}

.violet{
    color: #cd5ff8;
}

.titile {
    font-size: 45px;
    text-align: center;
}

// home style ------

.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    padding: 0 15px;

        @media screen and (max-width: 1024px) {
            font-size: 40px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding-bottom: 50px;
        }

    &__name{
        color: #cd5ff8;
    }
    &__subtitle{
        padding-top: 50px;
    }
    &__img{
        max-width: 600px;

        @media screen and (max-width: 1024px) {
            width: 500px;
        }

        @media screen and (max-width: 768px) {
            align-items: center;
            width: 400px;
            padding-bottom: 30px;
        }
    }

    &__wave{
        width: 40px;
        height: 40px;
        animation-name: wave;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &__info{
        max-width: 600px;

        @media screen and (max-width: 768px) {
            padding-top: 60px;
        }
    }
}

@keyframes wave {
    0% { transform: rotate(0); }
    10% {transform: rotate(20deg);}
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(20deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0); }
}
// about style ------

.about {
    &__wrapper {
        padding: 80px 0;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            padding: 60px 15px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            padding-top: 80px;
        }
    }
    &__text {
        font-size: 20px;
        max-width: 700px;
        padding-top: 20px;
    }
    &__info{
        padding-right: 20px;
    }
    &__img {
        padding-right: 60px;

        @media screen and (max-width: 1024px) {
            padding: 0;
        }

        @media screen and (max-width: 768px) {
            padding-top: 30px;
            align-items: center;
            width: 300px;
        }
    }
}

.skills {
    padding-bottom: 150px;

    &__wrapper{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 30px;
        justify-content: space-between;
        display: flex;
    }
    &__titile{
        padding-bottom: 50px;
    }

    &__item {
        text-align: center;
        width: 80px;
        height: 80px;

        @media screen and (max-width: 940px) {
            width: 60px;
            height: 60px;
        }
    }

    &__pic{
        width: 80px;
        height: 80px;

        @media screen and (max-width: 940px) {
            width: 60px;
            height: 60px;
        }
    }

    &__text{
        font-size: 20px;
        padding-top: 20px;
    }
}


.projects {
    &__titile {
        padding-bottom: 50px;
    }
    &__cards {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }
}

// Education
 
.education__titile{
    padding-bottom: 80px;
}
.education__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}
// resume --
.resume {
    
    &__iframe{
        text-align: center;
    }
    &__dow{
        text-align: center;
        margin-bottom: 20px;
    }

    &__titile {
        padding-bottom: 50px;
    }

    &__pic {
        height: 30px;
        width: 30px;
}}
// footer --
.footer{
    margin-top: 50px;
    background-color: rgb(237, 234, 234);
    text-align: center;
    color: black;
}
